@import url(https://fonts.googleapis.com/css?family=Varela+Round);

body {
    color: blueviolet;
    font-family: 'varela round', sans-serif;
    position: relative;
    text-align: center;
}
.gifscontainer{
    position: relative;
    display: inline-block;
}
.top-center {
    position: absolute;
    height: 80%;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 30px;
}

img {
    display: block;
    margin: auto;
    padding: auto;
}

h1 {
    display: inline-block;
    color: red;
}


